@font-face {
  font-family: "Marcellus";
  font-style: normal;
  font-weight: 400;
  src: local("Marcellus"), local("Marcellus-Regular"), url("http://aralejs.org/static/css/marcellus.woff") format("woff");
}
.message {
  font-size: 20px;
  letter-spacing: 20px;
  text-align: center;
  margin: 50px auto 50px;
  width: 250px;
}
.container {
  margin: 0;
  height: 240px;
  position: relative;
  font-family: "Marcellus",sans-serif;
  font-size: 80px;
}
.container li {
  float: left;
  text-align:center;
  width: 10%;
  margin: 5%;
  overflow:hidden;
  text-indent: -200px;
}
.container li.underline {
  border-bottom: 10px solid #000;
}
.container li.show {
  text-indent: 0;;
}
.hint {
  cursor: pointer;
  position: absolute;
  top: 80px;
  left: 60%;
  display:none;
}
.hint-popup {
  border: 1px solid #ccc;
  padding: 2px 5px;
  box-shadow: 2px 2px 0px #CCC;
}
.hint-popup:before {
  color:#ccc;
  font-size: 12px;
  top: 5px;
  left: -7px;
  position: absolute;
  content: '◆';
}
.hint-popup:after {
  color:#fff;
  font-size: 10px;
  top: 5px;
  left: -4px;
  position: absolute;
  content: '◆';
}

